In [ ]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

IMPORTING THE DATASET

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_csv("/content/drive/My Drive/DT_DataSet_v1.0.csv")

DESCRIBING THE DATASET

In [ ]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Day         13 non-null     object
 1   WakeUp      13 non-null     object
 2   HaveTalk    13 non-null     object
 3   Weather     13 non-null     object
 4   GoToSchool  13 non-null     object
dtypes: object(5)
memory usage: 648.0+ bytes

       Day  WakeUp HaveTalk Weather GoToSchool
count   13      13       13      13         13
unique  13       3        2       2          2
top     D1  Normal      Yes   Sunny        Yes
freq     1       5        7       8          9

PREPROCESSING THE DATA

In [ ]:
from sklearn.preprocessing import LabelEncoder as le
LE=le()
e_df=df.apply(LE.fit_transform)
print(e_df)

    Day  WakeUp  HaveTalk  Weather  GoToSchool
0     0       2         0        1           0
1     5       2         0        0           0
2     6       0         0        1           1
3     7       1         0        1           1
4     8       1         1        1           1
5     9       1         1        0           0
6    10       0         1        0           1
7    11       2         0        1           0
8    12       2         1        1           1
9     1       1         1        1           1
10    2       2         1        0           1
11    3       0         0        0           1
12    4       0         1        1           1

  SPLITTING THE DATA INTO TRAINING AND TESTING SETS

In [ ]:
from sklearn.model_selection import train_test_split as tts
predictors=e_df.iloc[:,0:4]
target=e_df.iloc[:,4]
train_x,test_x,train_y,test_y=tts(predictors,target,test_size=0.1,random_state=100)
print(train_x)
print(train_y)

    Day  WakeUp  HaveTalk  Weather
1     5       2         0        0
5     9       1         1        0
4     8       1         1        1
2     6       0         0        1
0     0       2         0        1
11    3       0         0        0
9     1       1         1        1
7    11       2         0        1
3     7       1         0        1
12    4       0         1        1
8    12       2         1        1
1     0
5     0
4     1
2     1
0     0
11    1
9     1
7     0
3     1
12    1
8     1
Name: GoToSchool, dtype: int64

FITTING THE DATA

In [ ]:
from sklearn.tree import DecisionTreeClassifier as dtc
dt_class=dtc(criterion="entropy",random_state=100,max_depth=4,min_samples_leaf=1)
dt_class.fit(train_x,train_y)
print("Predictions:{}".format(dt_class.predict(test_x)))

Predictions:[1 0]

MODEL EVALUATION

In [ ]:
from sklearn.metrics import accuracy_score as acs
from sklearn.metrics import confusion_matrix as cx
acc=dt_class.score(test_x,test_y)
print(acc)
cnf_m=cx(test_y,dt_class.predict(test_x))
print(cnf_m)

0.5
[[0 0]
 [1 1]]